.icon-close {
    display: inline-block;
    width: 4px;
    height: 4px;
    fill: white;

    @media screen and (min-width: 768px) {
        width: 8px;
        height: 8px;
    }
}
.icon-lemonade {
    display: inline-block;
    width: 30px;
    height: 40px;
    fill: #333;

    @media screen and (min-width: 768px) {
        width: 37px;
        height: 50px;
    }
}
.icon-water {
    display: inline-block;
    width: 18px;
    height: 40px;
    fill: #333;

    @media screen and (min-width: 768px) {
        width: 22px;
        height: 50px;
    }
}
.icon-baby-water {
    display: inline-block;
    width: 34px;
    height: 40px;
    fill: #333;

    @media screen and (min-width: 768px) {
        width: 42px;
        height: 50px;
    }
}
.icon-energy-drink {
    display: inline-block;
    width: 22px;
    height: 40px;
    fill: #333;

    @media screen and (min-width: 768px) {
        width: 28px;
        height: 50px;
    }
}
.icon-menu {
    display: inline-block;
    width: 13px;
    height: 12px;
    fill: white;

    @media screen and (min-width: 768px) {
        width: 25px;
        height: 22px;
    }
}
.icon-supermarket {
    display: inline-block;
    width: 40px;
    height: 40px;
    fill: #333;

    @media screen and (min-width: 768px) {
        width: 50px;
        height: 50px;
    }
}
.icon-cafe {
    display: inline-block;
    width: 40px;
    height: 40px;
    fill: #333;

    @media screen and (min-width: 768px) {
        width: 50px;
        height: 50px;
    }
}
.icon-hypermarket {
    display: inline-block;
    width: 40px;
    height: 40px;
    fill: #333;

    @media screen and (min-width: 768px) {
        width: 50px;
        height: 50px;
    }
}