.pdf{
    max-width: 2480px;
    min-width: 2480px;
    width: 2272px;
    padding: 0 104px;
    margin: 0 auto;

    &-img {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 651px;
        max-width: 651px;
        height: 235px;
        overflow: hidden;
        margin: 0 auto 30px;

        img, a, div {
            display: block;
            transition: all .4s ease;
            opacity: 1;
            flex-shrink: 1;
            flex-grow: 0;
            min-height: 0;
            max-height: 100%;
            min-width: 0;
            max-width: 100%;

            &:not(:last-child) {
                margin-right: 6px;
            }

        }
    }
}