<div class="pdf">
    <div class="manager">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" height="">
            <tbody>
                <tr>
                    <td width="1626" align="left" style="padding: 0;">
                        <div style="width: 1626px;">
                        </div>
                    </td>
                    <td width="654" align="left" style="padding: 0;">
                        <div style="width: 654px;">
                            <p style="font-size: 20px; line-height: 20px; font-weight: 700;margin-bottom: 12px;">chernogolovka.com</p>
                            <p style="font-size: 20px; line-height: 20px; font-weight: 400;margin-bottom: 54px;">Ваш менеджер</p>
                            <div style="height: 1px; background-color: #333333; margin-bottom: 54px;"></div>
                            <div style="height: 1px; background-color: #333333; margin-bottom: 54px;"></div>
                            <div style="height: 1px; background-color: #333333; margin-bottom: 54px;"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="category-pdf">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-top: -58px; margin-bottom: 70px;">
            <tbody>
                <tr>
                    <td width="654" align="left" style="padding: 0;">
                        <div style="width: 449px; margin: 0 106px 0 0;">
                            <img width="449" height="226" src="assets/img/label-pdf.png" alt="" style="display:block; width: 449px; height: 226px; margin: 0;">
                        </div>
                    </td>
                    <td width="1717" align="left" style="padding: 0;">
                        <div style="width: 1717px; height: 2px; background-color: #eff1f5;"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row-pdf" style="margin-bottom: 150px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="">
            <tbody>
                <tr>
                    
                    <td width="810" align="center" style="padding: 0 160px 0 0; vertical-align: top;">
                        <div style="">
                            <div class="pdf-img">
                                <img src="assets/img/catalog/noodle.png" alt="" >
                                <img src="assets/img/catalog/noodle.png" alt="" >
                                <img src="assets/img/catalog/noodle.png" alt="" >
                                <img src="assets/img/catalog/noodle.png" alt="" >
                            </div>
                            <p style="font-size: 21px; line-height: 1.4; font-weight: 500; margin-bottom: 12px; color: #333333; text-transform: uppercase;">Черноголовка Байкал</p>
                            <p style="font-size: 19px; line-height: 24px; font-weight: 400; margin-bottom: 20px; color: #333333; text-align: left;">Этот вкус - путешествие в сердце сказочной тайги.  Аромат
                                Байкала  густой, хвойный, с каплей свежей смолы, в которой
                                отражается летнее солнце. Вкус будоражит, в прямом смысле,
                                своей тёмной и терпкой сибирской силой, оставляя бархатистое,
                                как дикий мох, послевкусие.
                            </p>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Вкус</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Вкус напитка</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Тип упаковки</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Бутылка</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Вес</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Вес бутылки</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Срок годности</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">5 лет</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Цена</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #30a657; white-space: nowrap;">500 ₽</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td width="810" align="center" style="padding: 0 160px 0 0; vertical-align: top;">
                        <div style="">
                            <div class="pdf-img">
                                <img src="assets/img/catalog/item-4.jpg" alt="" >
                                <img src="assets/img/catalog/item-5.jpg" alt="" >
                                <img src="assets/img/catalog/item-3.jpg" alt="" >
                                <img src="assets/img/catalog/item-3.jpg" alt="" >
                                <img src="assets/img/catalog/item-3.jpg" alt="" >
                                <img src="assets/img/catalog/item-3.jpg" alt="" >
                                <img src="assets/img/catalog/item-3.jpg" alt="" >
                                <img src="assets/img/catalog/item-3.jpg" alt="" >
                                <img src="assets/img/catalog/item-3.jpg" alt="" >
                            </div>
                            <p style="font-size: 21px; line-height: 1.4; font-weight: 500; margin-bottom: 12px; color: #333333; text-transform: uppercase;">Черноголовка Байкал</p>
                            <p style="font-size: 19px; line-height: 24px; font-weight: 400; margin-bottom: 20px; color: #333333; text-align: left;">Этот вкус - путешествие в сердце сказочной тайги.  Аромат
                                Байкала  густой, хвойный, с каплей свежей смолы, в которой
                                отражается летнее солнце. Вкус будоражит, в прямом смысле,
                                своей тёмной и терпкой сибирской силой, оставляя бархатистое,
                                как дикий мох, послевкусие.
                            </p>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Вкус</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Вкус напитка</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Тип упаковки</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Бутылка</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Вес</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Вес бутылки</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Срок годности</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">5 лет</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Цена</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #30a657; white-space: nowrap;">500 ₽</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td width="650" align="center" style="padding: 0; vertical-align: top;">
                        <div style="">
                            <div class="pdf-img">
                                <img src="assets/img/catalog/item-4.jpg" alt="" >
                                <img src="assets/img/catalog/item-5.jpg" alt="" >
                                <img src="assets/img/catalog/item-3.jpg" alt="" >
                                <img src="assets/img/catalog/item-3.jpg" alt="" >
                                <img src="assets/img/catalog/item-3.jpg" alt="" >
                                <img src="assets/img/catalog/item-3.jpg" alt="" >
                                <img src="assets/img/catalog/item-3.jpg" alt="" >
                                <img src="assets/img/catalog/item-3.jpg" alt="" >
                                <img src="assets/img/catalog/item-3.jpg" alt="" >
                                <img src="assets/img/catalog/item-3.jpg" alt="" >
                                <img src="assets/img/catalog/item-3.jpg" alt="" >
                                <img src="assets/img/catalog/item-3.jpg" alt="" >
                            </div>
                            <p style="font-size: 21px; line-height: 1.4; font-weight: 500; margin-bottom: 12px; color: #333333; text-transform: uppercase;">Черноголовка Байкал</p>
                            <p style="font-size: 19px; line-height: 24px; font-weight: 400; margin-bottom: 20px; color: #333333; text-align: left;">Этот вкус - путешествие в сердце сказочной тайги.  Аромат
                                Байкала  густой, хвойный, с каплей свежей смолы, в которой
                                отражается летнее солнце. Вкус будоражит, в прямом смысле,
                                своей тёмной и терпкой сибирской силой, оставляя бархатистое,
                                как дикий мох, послевкусие.
                            </p>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Вкус</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Вкус напитка</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Тип упаковки</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Бутылка</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Вес</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Вес бутылки</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Срок годности</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">5 лет</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Цена</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #30a657; white-space: nowrap;">500 ₽</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row-pdf" style="margin-bottom: 150px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="">
            <tbody>
                <tr>
                    <td width="810" align="center" style="padding: 0 160px 0 0; vertical-align: top;">
                        <div style="">
                            <div style="display:inline-block; margin: 0 auto 30px;">
                                <img width="32" height="116" src="assets/img/catalog/item-4.jpg" alt="" style="display:inline-block; width: 32px; height: 116px; margin: 0 5px;">
                                <img width="80" height="242" src="assets/img/catalog/item-5.jpg" alt="" style="display:inline-block; width: 51px; height: 179px; margin: 0 5px;">
                                <img width="80" height="241" src="assets/img/catalog/item-3.jpg" alt="" style="display:inline-block; width: 67px; height: 233px; margin: 0 5px;">
                            </div>
                            <p style="font-size: 21px; line-height: 1.4; font-weight: 500; margin-bottom: 12px; color: #333333; text-transform: uppercase;">Черноголовка Байкал</p>
                            <p style="font-size: 19px; line-height: 24px; font-weight: 400; margin-bottom: 20px; color: #333333; text-align: left;">Этот вкус - путешествие в сердце сказочной тайги.  Аромат
                                Байкала  густой, хвойный, с каплей свежей смолы, в которой
                                отражается летнее солнце. Вкус будоражит, в прямом смысле,
                                своей тёмной и терпкой сибирской силой, оставляя бархатистое,
                                как дикий мох, послевкусие.
                            </p>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Вкус</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Вкус напитка</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Тип упаковки</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Бутылка</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Вес</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Вес бутылки</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Срок годности</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">5 лет</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Цена</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #30a657; white-space: nowrap;">500 ₽</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td width="810" align="center" style="padding: 0 160px 0 0; vertical-align: top;">
                        <div style="">
                            <div style="display:inline-block; margin: 0 auto 30px;">
                                <img width="32" height="116" src="assets/img/catalog/item-4.jpg" alt="" style="display:inline-block; width: 32px; height: 116px; margin: 0 5px;">
                                <img width="80" height="242" src="assets/img/catalog/item-5.jpg" alt="" style="display:inline-block; width: 51px; height: 179px; margin: 0 5px;">
                                <img width="80" height="241" src="assets/img/catalog/item-3.jpg" alt="" style="display:inline-block; width: 67px; height: 233px; margin: 0 5px;">
                            </div>
                            <p style="font-size: 21px; line-height: 1.4; font-weight: 500; margin-bottom: 12px; color: #333333; text-transform: uppercase;">Черноголовка Байкал</p>
                            <p style="font-size: 19px; line-height: 24px; font-weight: 400; margin-bottom: 20px; color: #333333; text-align: left;">Этот вкус - путешествие в сердце сказочной тайги.  Аромат
                                Байкала  густой, хвойный, с каплей свежей смолы, в которой
                                отражается летнее солнце. Вкус будоражит, в прямом смысле,
                                своей тёмной и терпкой сибирской силой, оставляя бархатистое,
                                как дикий мох, послевкусие.
                            </p>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Вкус</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Вкус напитка</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Тип упаковки</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Бутылка</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Вес</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Вес бутылки</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Срок годности</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">5 лет</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Цена</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #30a657; white-space: nowrap;">500 ₽</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td width="650" align="center" style="padding: 0; vertical-align: top;">
                        <div style="">
                            <div style="display:inline-block; margin: 0 auto 30px;">
                                <img width="32" height="116" src="assets/img/catalog/item-4.jpg" alt="" style="display:inline-block; width: 32px; height: 116px; margin: 0 5px;">
                                <img width="80" height="242" src="assets/img/catalog/item-5.jpg" alt="" style="display:inline-block; width: 51px; height: 179px; margin: 0 5px;">
                                <img width="80" height="241" src="assets/img/catalog/item-3.jpg" alt="" style="display:inline-block; width: 67px; height: 233px; margin: 0 5px;">
                            </div>
                            <p style="font-size: 21px; line-height: 1.4; font-weight: 500; margin-bottom: 12px; color: #333333; text-transform: uppercase;">Черноголовка Байкал</p>
                            <p style="font-size: 19px; line-height: 24px; font-weight: 400; margin-bottom: 20px; color: #333333; text-align: left;">Этот вкус - путешествие в сердце сказочной тайги.  Аромат
                                Байкала  густой, хвойный, с каплей свежей смолы, в которой
                                отражается летнее солнце. Вкус будоражит, в прямом смысле,
                                своей тёмной и терпкой сибирской силой, оставляя бархатистое,
                                как дикий мох, послевкусие.
                            </p>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Вкус</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Вкус напитка</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Тип упаковки</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Бутылка</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Вес</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Вес бутылки</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Срок годности</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">5 лет</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Цена</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #30a657; white-space: nowrap;">500 ₽</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="category-pdf">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 70px;">
            <tbody>
                <tr>
                    <td width="654" align="left" style="padding: 0;">
                        <div style="width: 449px; margin: 0 106px 0 0;">
                            <img width="449" height="226" src="assets/img/label-pdf.png" alt="" style="display:block; width: 449px; height: 226px; margin: 0;">
                        </div>
                    </td>
                    <td width="1717" align="left" style="padding: 0;">
                        <div style="width: 1717px; height: 2px; background-color: #eff1f5;"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row-pdf" style="margin-bottom: 150px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="">
            <tbody>
                <tr>
                    <td width="810" align="center" style="padding: 0 160px 0 0; vertical-align: top;">
                        <div style="">
                            <div style="display:inline-block; margin: 0 auto 30px;">
                                <img width="32" height="116" src="assets/img/catalog/item-4.jpg" alt="" style="display:inline-block; width: 32px; height: 116px; margin: 0 5px;">
                                <img width="80" height="242" src="assets/img/catalog/item-5.jpg" alt="" style="display:inline-block; width: 51px; height: 179px; margin: 0 5px;">
                                <img width="80" height="241" src="assets/img/catalog/item-3.jpg" alt="" style="display:inline-block; width: 67px; height: 233px; margin: 0 5px;">
                            </div>
                            <p style="font-size: 21px; line-height: 1.4; font-weight: 500; margin-bottom: 12px; color: #333333; text-transform: uppercase;">Черноголовка Байкал</p>
                            <p style="font-size: 19px; line-height: 24px; font-weight: 400; margin-bottom: 20px; color: #333333; text-align: left;">Этот вкус - путешествие в сердце сказочной тайги.  Аромат
                                Байкала  густой, хвойный, с каплей свежей смолы, в которой
                                отражается летнее солнце. Вкус будоражит, в прямом смысле,
                                своей тёмной и терпкой сибирской силой, оставляя бархатистое,
                                как дикий мох, послевкусие.
                            </p>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Вкус</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Вкус напитка</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Тип упаковки</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Бутылка</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Вес</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Вес бутылки</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Срок годности</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">5 лет</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Цена</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #30a657; white-space: nowrap;">500 ₽</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td width="810" align="center" style="padding: 0 160px 0 0; vertical-align: top;">
                        <div style="">
                            <div style="display:inline-block; margin: 0 auto 30px;">
                                <img width="32" height="116" src="assets/img/catalog/item-4.jpg" alt="" style="display:inline-block; width: 32px; height: 116px; margin: 0 5px;">
                                <img width="80" height="242" src="assets/img/catalog/item-5.jpg" alt="" style="display:inline-block; width: 51px; height: 179px; margin: 0 5px;">
                                <img width="80" height="241" src="assets/img/catalog/item-3.jpg" alt="" style="display:inline-block; width: 67px; height: 233px; margin: 0 5px;">
                            </div>
                            <p style="font-size: 21px; line-height: 1.4; font-weight: 500; margin-bottom: 12px; color: #333333; text-transform: uppercase;">Черноголовка Байкал</p>
                            <p style="font-size: 19px; line-height: 24px; font-weight: 400; margin-bottom: 20px; color: #333333; text-align: left;">Этот вкус - путешествие в сердце сказочной тайги.  Аромат
                                Байкала  густой, хвойный, с каплей свежей смолы, в которой
                                отражается летнее солнце. Вкус будоражит, в прямом смысле,
                                своей тёмной и терпкой сибирской силой, оставляя бархатистое,
                                как дикий мох, послевкусие.
                            </p>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Вкус</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Вкус напитка</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Тип упаковки</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Бутылка</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Вес</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Вес бутылки</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Срок годности</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">5 лет</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Цена</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #30a657; white-space: nowrap;">500 ₽</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td width="650" align="center" style="padding: 0; vertical-align: top;">
                        <div style="">
                            <div style="display:inline-block; margin: 0 auto 30px;">
                                <img width="32" height="116" src="assets/img/catalog/item-4.jpg" alt="" style="display:inline-block; width: 32px; height: 116px; margin: 0 5px;">
                                <img width="80" height="242" src="assets/img/catalog/item-5.jpg" alt="" style="display:inline-block; width: 51px; height: 179px; margin: 0 5px;">
                                <img width="80" height="241" src="assets/img/catalog/item-3.jpg" alt="" style="display:inline-block; width: 67px; height: 233px; margin: 0 5px;">
                            </div>
                            <p style="font-size: 21px; line-height: 1.4; font-weight: 500; margin-bottom: 12px; color: #333333; text-transform: uppercase;">Черноголовка Байкал</p>
                            <p style="font-size: 19px; line-height: 24px; font-weight: 400; margin-bottom: 20px; color: #333333; text-align: left;">Этот вкус - путешествие в сердце сказочной тайги.  Аромат
                                Байкала  густой, хвойный, с каплей свежей смолы, в которой
                                отражается летнее солнце. Вкус будоражит, в прямом смысле,
                                своей тёмной и терпкой сибирской силой, оставляя бархатистое,
                                как дикий мох, послевкусие.
                            </p>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Вкус</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Вкус напитка</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Тип упаковки</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Бутылка</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Вес</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Вес бутылки</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Срок годности</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">5 лет</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Цена</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #30a657; white-space: nowrap;">500 ₽</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row-pdf" style="margin-bottom: 150px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="">
            <tbody>
                <tr>
                    <td width="810" align="center" style="padding: 0 160px 0 0; vertical-align: top;">
                        <div style="">
                            <div style="display:inline-block; margin: 0 auto 30px;">
                                <img width="32" height="116" src="assets/img/catalog/item-4.jpg" alt="" style="display:inline-block; width: 32px; height: 116px; margin: 0 5px;">
                                <img width="80" height="242" src="assets/img/catalog/item-5.jpg" alt="" style="display:inline-block; width: 51px; height: 179px; margin: 0 5px;">
                                <img width="80" height="241" src="assets/img/catalog/item-3.jpg" alt="" style="display:inline-block; width: 67px; height: 233px; margin: 0 5px;">
                            </div>
                            <p style="font-size: 21px; line-height: 1.4; font-weight: 500; margin-bottom: 12px; color: #333333; text-transform: uppercase;">Черноголовка Байкал</p>
                            <p style="font-size: 19px; line-height: 24px; font-weight: 400; margin-bottom: 20px; color: #333333; text-align: left;">Этот вкус - путешествие в сердце сказочной тайги.  Аромат
                                Байкала  густой, хвойный, с каплей свежей смолы, в которой
                                отражается летнее солнце. Вкус будоражит, в прямом смысле,
                                своей тёмной и терпкой сибирской силой, оставляя бархатистое,
                                как дикий мох, послевкусие.
                            </p>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Вкус</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Вкус напитка</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Тип упаковки</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Бутылка</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Вес</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">Вес бутылки</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Срок годности</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #333333; white-space: nowrap;">5 лет</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="" style="margin-bottom: 16px;">
                                <tbody>
                                    <tr>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 400; color: #333333; white-space: nowrap;">Цена</p>
                                            </div>
                                        </td>
                                        <td width="100%" align="left" style="padding: 0 12px;">
                                            <div style="height: 1px; border-bottom: 1px dashed #c4c4c4;"></div>
                                        </td>
                                        <td width="60" align="left" style="padding: 0;">
                                            <div style="margin: 0;">
                                                <p style="font-size: 19px; line-height: 1.4; font-weight: 500; color: #30a657; white-space: nowrap;">500 ₽</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td width="810" align="center" style="padding: 0 160px 0 0; vertical-align: top;">
                    </td>
                    <td width="650" align="center" style="padding: 0; vertical-align: top;">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>