
<div class="mfp-wrap popup-menu-mobile js-filter-menu-popup">
    <div class="mfp-container">
        <div class="mfp-content">
            <div class="popup ">
                <div class="popup-body">
                    <div class="popup-section">
                        <a href="/" class="popup-clear js-clear-filter">
                            <div class="popup-clear__icon">
                                <svg class="icon-close">
                                    <use xlink:href="icons/all.svg#icon-close"></use>
                                </svg>
                            </div>
                            <span class="popup-clear__text">Сбросить фильтр</span>
                        </a>
                    </div>
                    <div class="popup-section">
                        <div class="popup-row">
                            <div class="popup-checkbox js-checkbox">
                                <label class="popup-checkbox__text" for="pretty_popup">
                                    Красивости
                                </label>
                                <div class="popup-checkbox-check">
                                    <input id="pretty_popup" type="checkbox" name="pretty_popup" class="popup-checkbox-check-input">
                                    <label for="pretty_popup" class="popup-checkbox-check-label">
                                        <span class="popup-checkbox-check-inner" style=""></span>
                                        <span class="popup-checkbox-check-switch" style=""></span>
                                    </label>
                                </div>
                            </div>
                            <div class="popup-markets">
                                <div class="popup-markets-item active js-market">
                                    <input id="markets-checkbox-1" name="markets-checkbox-1" type="checkbox" class="popup-markets-input">
                                    <label for="markets-checkbox-1" class="popup-markets-checkbox">
                                        <div class="popup-markets-item__icon">
                                            <svg class="icon-supermarket">
                                                <use xlink:href="icons/all.svg#icon-supermarket"></use>
                                            </svg>
                                        </div>
                                        <div class="popup-markets-item__text">
                                            Супермаркет
                                        </div>
                                    </label>
                                </div>
                                <div class="popup-markets-item js-market">
                                    <input id="markets-checkbox-2" name="markets-checkbox-2" type="checkbox" class="popup-markets-input">
                                    <label for="markets-checkbox-2" class="popup-markets-checkbox">
                                        <div class="popup-markets-item__icon">
                                            <svg class="icon-cafe">
                                                <use xlink:href="icons/all.svg#icon-cafe"></use>
                                            </svg>
                                        </div>
                                        <div class="popup-markets-item__text">
                                            Кафе у дома
                                        </div>
                                    </label>
                                </div>
                                <div class="popup-markets-item js-market">
                                    <input id="markets-checkbox-3" name="markets-checkbox-2" type="checkbox" class="popup-markets-input">
                                    <label for="markets-checkbox-3" class="popup-markets-checkbox">
                                        <div class="popup-markets-item__icon">
                                            <svg class="icon-hypermarket">
                                                <use xlink:href="icons/all.svg#icon-hypermarket"></use>
                                            </svg>
                                        </div>
                                        <div class="popup-markets-item__text">
                                            Гипермаркет
                                        </div>
                                    </label>
                                </div>

                            </div>
                        
                        </div>
                    </div>
                    <div class="popup-section">
                        <div class="popup-inputs">
                            <div class="popup-inputs-row">
                                <label class="form-select popup-select js-select">
                                    <select name="brand" class="js-popup-multiselect" multiple="multiple" data-placeholder="Выберите бренд">
                                        <option value="1">Черноголовка</option>
                                        <option value="2">Байкал 1977</option>
                                        <option value="3">Fantola</option>
                                    </select>
                                    <span class="arrow"></span>
                                </label>
                                <label class="form-select popup-select js-select js-dis-select">
                                    <select name="displacement" class="js-popup-multiselect" multiple="multiple" data-placeholder="Выберите литраж">
                                        <option value="0.5">0,5 л.</option>
                                        <option value="1">1 л.</option>
                                        <option value="1.5">1,5 л.</option>
                                        <option value="2">2 л.</option>
                                    </select>
                                    <span class="arrow"></span>
                                </label>
                                <label class="form-select popup-select js-select">
                                    <select name="taste" class="js-popup-multiselect" multiple="multiple" data-placeholder="Выберите вкус">
                                        <option value="0.5">Байкал</option>
                                        <option value="1">Тархун</option>
                                        <option value="1.5">Дюшес</option>
                                    </select>
                                    <span class="arrow"></span>
                                </label>
                            
                            </div>
                        
                        </div>
                    </div>
                    <div class="popup-section">
                        <div class="popup-mml">
                            <div class="popup-mml__text">
                                MML по региону:
                            </div>
                            <div class="popup-mml-links">
                                <a href="/" class="popup-mml-links__item">
                                    <span>Москва</span>
                                </a>
                                <a href="/" class="popup-mml-links__item">
                                    <span>Регионы</span>
                                </a>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mfp-bg js-popup-close"></div>