<div class="equipment">
    <div class="equipment-wrap">
        <div class="equipment-top">
            <div class="equipment-title">
                <h1>Каталог оборудования</h1>
            </div>
            <form action="" class="form">
                <div class="form-row">
                    <label class="form-select js-select">
                        <select name="category" class="inputselect">
                            <option value="0" selected >Всё оборудование</option>
                            <option value="1">Категория 1</option>
                            <option value="2">Категория 2</option>
                            <option value="3">Категория 3</option>
                            <option value="4">Категория 4</option>
                        </select>
                        <span class="arrow"></span>
                    </label>
                
                </div>
                <div class="form-row">
                    <label class="form-clear">
                        <div class="form-clear__icon">
                            <svg class="icon-close">
                                <use xlink:href="icons/all.svg#icon-close"></use>
                            </svg>
                        </div>
                        <button class="form-clear__btn js-clear-filter">Сбросить фильтр</button>
                    </label>
                </div>
            </form>
            <a href="/" class="title-btn">Pdf</a>
        </div>
        
        <div class="equipment-catalog">
            <div class="equipment-catalog-item js-item">
                <div class="equipment-catalog-item-slider js-equipment-slider-no-arrows">
                    <ul class="slides">
                        <li>
                            <div class="equipment-catalog-item-slider-slide" style="background-image: url('assets/img/slider-item-vert.png')">

                            </div>
                            <div class="equipment-catalog-item-slider-slide mod-mobile" style="background-image: url('assets/img/slider-item-vert.png')">

                            </div>
                        </li>
                        <li>
                            <div class="equipment-catalog-item-slider-slide" style="background-image: url('assets/img/slider-item-vert.png')">
                            
                            </div>
                            <div class="equipment-catalog-item-slider-slide mod-mobile" style="background-image: url('assets/img/slider-item-vert.png')">

                            </div>
                        </li>
                    </ul>
                
                </div>
                <div class="equipment-catalog-item__description js-desc" style="display: none;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.
                </div>
                <div class="equipment-catalog-item-features">
                    <div class="equipment-catalog-item-features-item">
                        <div class="equipment-catalog-item-features-item__name">
                            Размер
                        </div>
                        <div class="equipment-catalog-item-features-item__space">

                        </div>
                        <div class="equipment-catalog-item-features-item__value">
                            80x80x80см
                        </div>
                    </div>
                    <div class="equipment-catalog-item-features-item">
                        <div class="equipment-catalog-item-features-item__name">
                            Вместимость
                        </div>
                        <div class="equipment-catalog-item-features-item__space">

                        </div>
                        <div class="equipment-catalog-item-features-item__value">
                            ...
                        </div>
                    </div>
                </div>
                <a href="/" class="equipment-catalog-item__btn js-desc-open">
                    <span class="mod-opened">Скрыть</span>
                    <span class="mod-closed">Описание</span>
                </a>
            </div>
            <div class="equipment-catalog-item js-item">
                <div class="equipment-catalog-item-slider js-equipment-slider">
                    <ul class="slides">
                        <li>
                            <div class="equipment-catalog-item-slider-slide" style="background-image: url('assets/img/catalog-item.jpg')">

                            </div>
                            <div class="equipment-catalog-item-slider-slide mod-mobile" style="background-image: url('assets/img/catalog-item-mobile.jpg')">

                            </div>
                        </li>
                        <li>
                            <div class="equipment-catalog-item-slider-slide" style="background-image: url('assets/img/catalog-item.jpg')">
                            
                            </div>
                            <div class="equipment-catalog-item-slider-slide mod-mobile" style="background-image: url('assets/img/catalog-item-mobile.jpg')">

                            </div>
                        </li>
                    </ul>
                
                </div>
                <div class="equipment-catalog-item__description js-desc" style="display: none;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.
                </div>
                <div class="equipment-catalog-item-features">
                    <div class="equipment-catalog-item-features-item">
                        <div class="equipment-catalog-item-features-item__name">
                            Размер
                        </div>
                        <div class="equipment-catalog-item-features-item__space">

                        </div>
                        <div class="equipment-catalog-item-features-item__value">
                            80x80x80см
                        </div>
                    </div>
                    <div class="equipment-catalog-item-features-item">
                        <div class="equipment-catalog-item-features-item__name">
                            Вместимость
                        </div>
                        <div class="equipment-catalog-item-features-item__space">

                        </div>
                        <div class="equipment-catalog-item-features-item__value">
                            ...
                        </div>
                    </div>
                </div>
                <a href="/" class="equipment-catalog-item__btn js-desc-open">
                    <span class="mod-opened">Скрыть</span>
                    <span class="mod-closed">Описание</span>
                </a>
            </div>
            <div class="equipment-catalog-item js-item">
                <div class="equipment-catalog-item-slider js-equipment-slider">
                    <ul class="slides">
                        <li>
                            <div class="equipment-catalog-item-slider-slide" style="background-image: url('assets/img/catalog-item.jpg')">

                            </div>
                            <div class="equipment-catalog-item-slider-slide mod-mobile" style="background-image: url('assets/img/catalog-item-mobile.jpg')">

                            </div>
                        </li>
                        <li>
                            <div class="equipment-catalog-item-slider-slide" style="background-image: url('assets/img/catalog-item.jpg')">
                            
                            </div>
                            <div class="equipment-catalog-item-slider-slide mod-mobile" style="background-image: url('assets/img/catalog-item-mobile.jpg')">

                            </div>
                        </li>
                    </ul>
                
                </div>
                <div class="equipment-catalog-item__description js-desc" style="display: none;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.
                </div>
                <div class="equipment-catalog-item-features">
                    <div class="equipment-catalog-item-features-item">
                        <div class="equipment-catalog-item-features-item__name">
                            Размер
                        </div>
                        <div class="equipment-catalog-item-features-item__space">

                        </div>
                        <div class="equipment-catalog-item-features-item__value">
                            80x80x80см
                        </div>
                    </div>
                    <div class="equipment-catalog-item-features-item">
                        <div class="equipment-catalog-item-features-item__name">
                            Вместимость
                        </div>
                        <div class="equipment-catalog-item-features-item__space">

                        </div>
                        <div class="equipment-catalog-item-features-item__value">
                            ...
                        </div>
                    </div>
                </div>
                <a href="/" class="equipment-catalog-item__btn js-desc-open">
                    <span class="mod-opened">Скрыть</span>
                    <span class="mod-closed">Описание</span>
                </a>
            </div>
            <div class="equipment-catalog-item js-item">
                <div class="equipment-catalog-item-slider js-equipment-slider">
                    <ul class="slides">
                        <li>
                            <div class="equipment-catalog-item-slider-slide" style="background-image: url('assets/img/catalog-item.jpg')">

                            </div>
                            <div class="equipment-catalog-item-slider-slide mod-mobile" style="background-image: url('assets/img/catalog-item-mobile.jpg')">

                            </div>
                        </li>
                        <li>
                            <div class="equipment-catalog-item-slider-slide" style="background-image: url('assets/img/catalog-item.jpg')">
                            
                            </div>
                            <div class="equipment-catalog-item-slider-slide mod-mobile" style="background-image: url('assets/img/catalog-item-mobile.jpg')">

                            </div>
                        </li>
                    </ul>
                
                </div>
                <div class="equipment-catalog-item__description js-desc" style="display: none;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.
                </div>
                <div class="equipment-catalog-item-features">
                    <div class="equipment-catalog-item-features-item">
                        <div class="equipment-catalog-item-features-item__name">
                            Размер
                        </div>
                        <div class="equipment-catalog-item-features-item__space">

                        </div>
                        <div class="equipment-catalog-item-features-item__value">
                            80x80x80см
                        </div>
                    </div>
                    <div class="equipment-catalog-item-features-item">
                        <div class="equipment-catalog-item-features-item__name">
                            Вместимость
                        </div>
                        <div class="equipment-catalog-item-features-item__space">

                        </div>
                        <div class="equipment-catalog-item-features-item__value">
                            ...
                        </div>
                    </div>
                </div>
                <a href="/" class="equipment-catalog-item__btn js-desc-open">
                    <span class="mod-opened">Скрыть</span>
                    <span class="mod-closed">Описание</span>
                </a>
            </div>
        </div>

    </div>
</div>