<div class="main">
    <div class="main-wrap">
        <div class="main-menu">
            <a href="category.html" class="main-menu-item mod-item-1">
                <div class="main-menu-item-wrap">
                    <div class="main-menu-item__title">
                        Снеки
                    </div>
                </div>
                <div class="main-menu-decor mod-decor-1">
                    <div class="main-menu-decor-wrap">
                    </div>
                </div>
            </a>
            <a href="category.html" class="main-menu-item mod-item-2">
                <div class="main-menu-item-wrap">
                    <div class="main-menu-item__title">
                        Кондитерские изделия
                    </div>
                </div>
                <div class="main-menu-decor mod-decor-2">
                    <div class="main-menu-decor-wrap">
                    </div>
                </div>
                
            </a>
            <a href="category.html" class="main-menu-item mod-item-3">
                <div class="main-menu-item-wrap">
                    <div class="main-menu-item__title">
                        Аква
                    </div>
                </div>
                <div class="main-menu-decor mod-decor-3">
                    <div class="main-menu-decor-wrap">
                    </div>
                </div>
                
            </a>
            <a href="category.html" class="main-menu-item mod-item-4">
                <div class="main-menu-item-wrap">
                    <div class="main-menu-item__title">
                        Прочее
                    </div>
                </div>
                
            </a>
        </div>
        <div class="main-bottom">
            <div class="main-bottom-row">
                <a href="index.html" class="main-btn">MML по региону и точке</a>
            </div>
            <div class="main-bottom-row">
                <a href="index.html" class="main-btn mod-big">Стандарты мерчендайзинга</a>
                <a href="equipment.html" class="main-btn mod-big">Каталог оборудования</a>
            </div>
        </div>
    </div>
</div>