<div class="category">
    <div class="category-wrap">

        <div class="category-top">
            <div class="category-title">
                <h1>Категории</h1>
            </div>
            <div class="form">
                <div class="form-row">
                    <label class="form-select js-select">
                        <select name="brand" class="js-multiselect" multiple="multiple" data-placeholder="Выберите бренд">
                            <option value="1">Черноголовка</option>
                            <option value="2">Байкал 1977</option>
                            <option value="3">Fantola</option>
                        </select>
                        <span class="arrow"></span>
                    </label>
                
                </div>
                <div class="form-row">
                    <label class="form-select js-select js-dis-select">
                        <select name="displacement" class="js-multiselect" multiple="multiple" data-placeholder="Выберите литраж">
                            <option value="0.5">0,5 л.</option>
                            <option value="1">1 л.</option>
                            <option value="1.5">1,5 л.</option>
                            <option value="2">2 л.</option>
                        </select>
                        <span class="arrow"></span>
                    </label>
                    <label class="form-select js-select">
                        <select name="taste" class="js-multiselect" multiple="multiple" data-placeholder="Выберите вкус">
                            <option value="0.5">Байкал</option>
                            <option value="1">Тархун</option>
                            <option value="1.5">Дюшес</option>
                        </select>
                        <span class="arrow"></span>
                    </label>
                    {# <label class="form-select js-select">
                        <select name="taste" class="js-singleselect">
                            <option value="0" selected>Выберите вкус</option>
                            <option value="1">Байкал</option>
                            <option value="2">Тархун</option>
                            <option value="3">Дюшес</option>
                        </select>
                        <span class="arrow"></span>
                    </label> #}
                </div>
                <div class="form-row">
                    <label class="form-clear">
                        <div class="form-clear__icon">
                            <svg class="icon-close">
                                <use xlink:href="icons/all.svg#icon-close"></use>
                            </svg>
                        </div>
                        <button class="form-clear__btn js-clear-filter">Сбросить фильтр</button>
                    </label>
                </div>
            </div>
            <a href="/" class="title-btn">Pdf</a>
        </div>
        <div class="category-label">
            <div class="category-label__img" style="background-image: url(assets/img/label.png)"></div>
            <span class="category-label__space"></span>
        </div>
        <div class="category-catalog">
            <div class="category-catalog-item js-item">
                <div class="category-catalog-item__logo">
                
                </div>
                <div class="category-catalog-item-img js-dis-img">
                    <img src="assets/img/catalog/Байкал 0,33Л СТ.png" id="bx_3218110189_1188" alt="Байкал 0,33 Стекло" data-displacement="0.5" class="item-img">
                    <img src="assets/img/catalog/Байкал 0,5 л СТ.png" id="bx_3218110189_1184" alt="Байкал 0,5 стекло" data-displacement="0.5" class="item-img">
                    <img src="assets/img/catalog/Байкал 0,5 л ПЭТ.png" id="bx_3218110189_1185" alt="Байкал 0,5 ПЭТ" data-displacement="0.5" class="item-img">
                    <img src="assets/img/catalog/Байкал 1Л.png" id="bx_3218110189_1190" alt="Байкал 1 литр стекло" data-displacement="1" class="item-img">
                    <img src="assets/img/catalog/Chernogolovka Baikal_1,25L.png" id="bx_3218110189_1186" alt="Байкал 1,25 литр ПЭТ" data-displacement="1" class="item-img">
                    <img src="assets/img/catalog/Байкал 1,5Л ПЭТ.png" id="bx_3218110189_1189" alt="Байкал 1.5 литра ПЭТ" data-displacement="1.5" class="item-img">
                    <img src="assets/img/catalog/Байкал 2Л.png" id="bx_3218110189_1187" alt="Байкал 2 литра ПЭТ" data-displacement="2" class="item-img">
                </div>
                <div class="category-catalog-item__title">
                    Черноголовка Байкал
                </div>
                <div class="category-catalog-item__description js-desc" style="display: none;">
                    Этот вкус - путешествие в сердце сказочной тайги. 
                    Аромат Байкала густой, хвойный, с каплей свежей
                    смолы, в которой отражается летнее солнце. Вкус
                    будоражит, в прямом смысле, своей тёмной и
                    терпкой сибирской силой, оставляя бархатистое, как
                    дикий мох, послевкусие.
                </div>
                <div class="category-catalog-item-features">
                    <div class="category-catalog-item-features-item">
                        <div class="category-catalog-item-features-item__name">
                            Вкус
                        </div>
                        <div class="category-catalog-item-features-item__space">

                        </div>
                        <div class="category-catalog-item-features-item__value">
                            Вкус напитка
                        </div>
                    </div>
                    <div class="category-catalog-item-features-item">
                        <div class="category-catalog-item-features-item__name">
                            Тип упаковки
                        </div>
                        <div class="category-catalog-item-features-item__space">

                        </div>
                        <div class="category-catalog-item-features-item__value">
                            Бутылка
                        </div>
                    </div>
                    <div class="category-catalog-item-features-item">
                        <div class="category-catalog-item-features-item__name">
                            Вес
                        </div>
                        <div class="category-catalog-item-features-item__space">

                        </div>
                        <div class="category-catalog-item-features-item__value">
                            Вес бутылки
                        </div>
                    </div>
                    <div class="category-catalog-item-features-item">
                        <div class="category-catalog-item-features-item__name">
                            Срок годности
                        </div>
                        <div class="category-catalog-item-features-item__space">

                        </div>
                        <div class="category-catalog-item-features-item__value">
                            5 лет
                        </div>
                    </div>
                    <div class="category-catalog-item-features-item">
                        <div class="category-catalog-item-features-item__name">
                            Цена
                        </div>
                        <div class="category-catalog-item-features-item__space">

                        </div>
                        <div class="category-catalog-item-features-item__value mod-green">
                            500 ₽
                        </div>
                    </div>
                </div>
                <a href="/" class="category-catalog-item__btn js-desc-open">
                    <span class="mod-opened">Скрыть</span>
                    <span class="mod-closed">Описание</span>
                </a>
            </div>
            <div class="category-catalog-item js-item">
                <div class="category-catalog-item__logo">
                
                </div>
                <div class="category-catalog-item-img js-dis-img">
                    <img src="assets/img/catalog-item-1.jpg" alt="Черноголовка Байкал" data-displacement="0.5">
                    <img src="assets/img/catalog-item-2.jpg" alt="Черноголовка Байкал" data-displacement="0.5">
                    <img src="assets/img/catalog-item-3.jpg" alt="Черноголовка Байкал" data-displacement="0.5">
                    <img src="assets/img/catalog-item-4.jpg" alt="Черноголовка Байкал" data-displacement="1">
                    <img src="assets/img/catalog-item-5.jpg" alt="Черноголовка Байкал" data-displacement="1">
                    <img src="assets/img/catalog-item-6.jpg" alt="Черноголовка Байкал" data-displacement="1">
                    <img src="assets/img/catalog-item-7.jpg" alt="Черноголовка Байкал" data-displacement="1.5">
                    <img src="assets/img/catalog-item-8.jpg" alt="Черноголовка Байкал" data-displacement="2">
                </div>
                <div class="category-catalog-item__title">
                    Черноголовка Байкал
                </div>
                <div class="category-catalog-item__description js-desc" style="display: none;">
                    Этот вкус - путешествие в сердце сказочной тайги. 
                    Аромат Байкала густой, хвойный, с каплей свежей
                    смолы, в которой отражается летнее солнце. Вкус
                    будоражит, в прямом смысле, своей тёмной и
                    терпкой сибирской силой, оставляя бархатистое, как
                    дикий мох, послевкусие.
                </div>
                <div class="category-catalog-item-features">
                    <div class="category-catalog-item-features-item">
                        <div class="category-catalog-item-features-item__name">
                            Вкус
                        </div>
                        <div class="category-catalog-item-features-item__space">

                        </div>
                        <div class="category-catalog-item-features-item__value">
                            Вкус напитка
                        </div>
                    </div>
                    <div class="category-catalog-item-features-item">
                        <div class="category-catalog-item-features-item__name">
                            Тип упаковки
                        </div>
                        <div class="category-catalog-item-features-item__space">

                        </div>
                        <div class="category-catalog-item-features-item__value">
                            Бутылка
                        </div>
                    </div>
                    <div class="category-catalog-item-features-item">
                        <div class="category-catalog-item-features-item__name">
                            Вес
                        </div>
                        <div class="category-catalog-item-features-item__space">

                        </div>
                        <div class="category-catalog-item-features-item__value">
                            Вес бутылки
                        </div>
                    </div>
                    <div class="category-catalog-item-features-item">
                        <div class="category-catalog-item-features-item__name">
                            Срок годности
                        </div>
                        <div class="category-catalog-item-features-item__space">

                        </div>
                        <div class="category-catalog-item-features-item__value">
                            5 лет
                        </div>
                    </div>
                    <div class="category-catalog-item-features-item">
                        <div class="category-catalog-item-features-item__name">
                            Цена
                        </div>
                        <div class="category-catalog-item-features-item__space">

                        </div>
                        <div class="category-catalog-item-features-item__value mod-green">
                            500 ₽
                        </div>
                    </div>
                </div>
                <a href="/" class="category-catalog-item__btn js-desc-open">
                    <span class="mod-opened">Скрыть</span>
                    <span class="mod-closed">Описание</span>
                </a>
            </div>
            <div class="category-catalog-item js-item">
                <div class="category-catalog-item__logo">
                
                </div>
                <div class="category-catalog-item-img js-dis-img">
                    <img src="assets/img/catalog-item-1.jpg" alt="Черноголовка Байкал" data-displacement="0.5">
                    <img src="assets/img/catalog-item-2.jpg" alt="Черноголовка Байкал" data-displacement="0.5">
                    <img src="assets/img/catalog-item-3.jpg" alt="Черноголовка Байкал" data-displacement="0.5">
                    <img src="assets/img/catalog-item-4.jpg" alt="Черноголовка Байкал" data-displacement="1">
                    <img src="assets/img/catalog-item-5.jpg" alt="Черноголовка Байкал" data-displacement="1">
                    <img src="assets/img/catalog-item-6.jpg" alt="Черноголовка Байкал" data-displacement="1">
                    <img src="assets/img/catalog-item-7.jpg" alt="Черноголовка Байкал" data-displacement="1.5">
                    <img src="assets/img/catalog-item-8.jpg" alt="Черноголовка Байкал" data-displacement="2">
                </div>
                <div class="category-catalog-item__title">
                    Черноголовка Байкал
                </div>
                <div class="category-catalog-item__description js-desc" style="display: none;">
                    Этот вкус - путешествие в сердце сказочной тайги. 
                    Аромат Байкала густой, хвойный, с каплей свежей
                    смолы, в которой отражается летнее солнце. Вкус
                    будоражит, в прямом смысле, своей тёмной и
                    терпкой сибирской силой, оставляя бархатистое, как
                    дикий мох, послевкусие.
                </div>
                <div class="category-catalog-item-features">
                    <div class="category-catalog-item-features-item">
                        <div class="category-catalog-item-features-item__name">
                            Вкус
                        </div>
                        <div class="category-catalog-item-features-item__space">

                        </div>
                        <div class="category-catalog-item-features-item__value">
                            Вкус напитка
                        </div>
                    </div>
                    <div class="category-catalog-item-features-item">
                        <div class="category-catalog-item-features-item__name">
                            Тип упаковки
                        </div>
                        <div class="category-catalog-item-features-item__space">

                        </div>
                        <div class="category-catalog-item-features-item__value">
                            Бутылка
                        </div>
                    </div>
                    <div class="category-catalog-item-features-item">
                        <div class="category-catalog-item-features-item__name">
                            Вес
                        </div>
                        <div class="category-catalog-item-features-item__space">

                        </div>
                        <div class="category-catalog-item-features-item__value">
                            Вес бутылки
                        </div>
                    </div>
                    <div class="category-catalog-item-features-item">
                        <div class="category-catalog-item-features-item__name">
                            Срок годности
                        </div>
                        <div class="category-catalog-item-features-item__space">

                        </div>
                        <div class="category-catalog-item-features-item__value">
                            5 лет
                        </div>
                    </div>
                    <div class="category-catalog-item-features-item">
                        <div class="category-catalog-item-features-item__name">
                            Цена
                        </div>
                        <div class="category-catalog-item-features-item__space">

                        </div>
                        <div class="category-catalog-item-features-item__value mod-green">
                            500 ₽
                        </div>
                    </div>
                </div>
                <a href="/" class="category-catalog-item__btn js-desc-open">
                    <span class="mod-opened">Скрыть</span>
                    <span class="mod-closed">Описание</span>
                </a>
            </div>
            <div class="category-catalog-item js-item">
                <div class="category-catalog-item__logo">
                
                </div>
                <div class="category-catalog-item-img js-dis-img">
                    <img src="assets/img/catalog-item-1.jpg" alt="Черноголовка Байкал" data-displacement="0.5">
                    <img src="assets/img/catalog-item-2.jpg" alt="Черноголовка Байкал" data-displacement="0.5">
                    <img src="assets/img/catalog-item-3.jpg" alt="Черноголовка Байкал" data-displacement="0.5">
                    <img src="assets/img/catalog-item-4.jpg" alt="Черноголовка Байкал" data-displacement="1">
                    <img src="assets/img/catalog-item-5.jpg" alt="Черноголовка Байкал" data-displacement="1">
                    <img src="assets/img/catalog-item-6.jpg" alt="Черноголовка Байкал" data-displacement="1">
                    <img src="assets/img/catalog-item-7.jpg" alt="Черноголовка Байкал" data-displacement="1.5">
                    <img src="assets/img/catalog-item-8.jpg" alt="Черноголовка Байкал" data-displacement="2">
                </div>
                <div class="category-catalog-item__title">
                    Черноголовка Байкал
                </div>
                <div class="category-catalog-item__description js-desc" style="display: none;">
                    Этот вкус - путешествие в сердце сказочной тайги. 
                    Аромат Байкала густой, хвойный, с каплей свежей
                    смолы, в которой отражается летнее солнце. Вкус
                    будоражит, в прямом смысле, своей тёмной и
                    терпкой сибирской силой, оставляя бархатистое, как
                    дикий мох, послевкусие.
                </div>
                <div class="category-catalog-item-features">
                    <div class="category-catalog-item-features-item">
                        <div class="category-catalog-item-features-item__name">
                            Вкус
                        </div>
                        <div class="category-catalog-item-features-item__space">

                        </div>
                        <div class="category-catalog-item-features-item__value">
                            Вкус напитка
                        </div>
                    </div>
                    <div class="category-catalog-item-features-item">
                        <div class="category-catalog-item-features-item__name">
                            Тип упаковки
                        </div>
                        <div class="category-catalog-item-features-item__space">

                        </div>
                        <div class="category-catalog-item-features-item__value">
                            Бутылка
                        </div>
                    </div>
                    <div class="category-catalog-item-features-item">
                        <div class="category-catalog-item-features-item__name">
                            Вес
                        </div>
                        <div class="category-catalog-item-features-item__space">

                        </div>
                        <div class="category-catalog-item-features-item__value">
                            Вес бутылки
                        </div>
                    </div>
                    <div class="category-catalog-item-features-item">
                        <div class="category-catalog-item-features-item__name">
                            Срок годности
                        </div>
                        <div class="category-catalog-item-features-item__space">

                        </div>
                        <div class="category-catalog-item-features-item__value">
                            5 лет
                        </div>
                    </div>
                    <div class="category-catalog-item-features-item">
                        <div class="category-catalog-item-features-item__name">
                            Цена
                        </div>
                        <div class="category-catalog-item-features-item__space">

                        </div>
                        <div class="category-catalog-item-features-item__value mod-green">
                            500 ₽
                        </div>
                    </div>
                </div>
                <a href="/" class="category-catalog-item__btn js-desc-open">
                    <span class="mod-opened">Скрыть</span>
                    <span class="mod-closed">Описание</span>
                </a>
            </div>
            <div class="category-catalog-item js-item">
                <div class="category-catalog-item__logo">
                
                </div>
                <div class="category-catalog-item-img js-dis-img">
                    <img src="assets/img/catalog-item-1.jpg" alt="Черноголовка Байкал" data-displacement="0.5">
                    <img src="assets/img/catalog-item-2.jpg" alt="Черноголовка Байкал" data-displacement="0.5">
                    <img src="assets/img/catalog-item-3.jpg" alt="Черноголовка Байкал" data-displacement="0.5">
                    <img src="assets/img/catalog-item-4.jpg" alt="Черноголовка Байкал" data-displacement="1">
                    <img src="assets/img/catalog-item-5.jpg" alt="Черноголовка Байкал" data-displacement="1">
                    <img src="assets/img/catalog-item-6.jpg" alt="Черноголовка Байкал" data-displacement="1">
                    <img src="assets/img/catalog-item-7.jpg" alt="Черноголовка Байкал" data-displacement="1.5">
                    <img src="assets/img/catalog-item-8.jpg" alt="Черноголовка Байкал" data-displacement="2">
                </div>
                <div class="category-catalog-item__title">
                    Черноголовка Байкал
                </div>
                <div class="category-catalog-item__description js-desc" style="display: none;">
                    Этот вкус - путешествие в сердце сказочной тайги. 
                    Аромат Байкала густой, хвойный, с каплей свежей
                    смолы, в которой отражается летнее солнце. Вкус
                    будоражит, в прямом смысле, своей тёмной и
                    терпкой сибирской силой, оставляя бархатистое, как
                    дикий мох, послевкусие.
                </div>
                <div class="category-catalog-item-features">
                    <div class="category-catalog-item-features-item">
                        <div class="category-catalog-item-features-item__name">
                            Вкус
                        </div>
                        <div class="category-catalog-item-features-item__space">

                        </div>
                        <div class="category-catalog-item-features-item__value">
                            Вкус напитка
                        </div>
                    </div>
                    <div class="category-catalog-item-features-item">
                        <div class="category-catalog-item-features-item__name">
                            Тип упаковки
                        </div>
                        <div class="category-catalog-item-features-item__space">

                        </div>
                        <div class="category-catalog-item-features-item__value">
                            Бутылка
                        </div>
                    </div>
                    <div class="category-catalog-item-features-item">
                        <div class="category-catalog-item-features-item__name">
                            Вес
                        </div>
                        <div class="category-catalog-item-features-item__space">

                        </div>
                        <div class="category-catalog-item-features-item__value">
                            Вес бутылки
                        </div>
                    </div>
                    <div class="category-catalog-item-features-item">
                        <div class="category-catalog-item-features-item__name">
                            Срок годности
                        </div>
                        <div class="category-catalog-item-features-item__space">

                        </div>
                        <div class="category-catalog-item-features-item__value">
                            5 лет
                        </div>
                    </div>
                    <div class="category-catalog-item-features-item">
                        <div class="category-catalog-item-features-item__name">
                            Цена
                        </div>
                        <div class="category-catalog-item-features-item__space">

                        </div>
                        <div class="category-catalog-item-features-item__value mod-green">
                            500 ₽
                        </div>
                    </div>
                </div>
                <a href="/" class="category-catalog-item__btn js-desc-open">
                    <span class="mod-opened">Скрыть</span>
                    <span class="mod-closed">Описание</span>
                </a>
            </div>
        </div>
    </div>
</div>