<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
	<head>
		<title>Черноголовка — производитель напитков, снеков и кондитерских изделий в России</title>
		<meta name="viewport" content="initial-scale=1.0, width=device-width">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<link href="https://fonts.googleapis.com/css?family=Montserrat:300italic,400italic,500italic,700italic,400,300,500,600,700subset=latin,cyrillic-ext" rel="stylesheet">

        <link href="styles/vendor/select2.min.css" rel="stylesheet">
        <link href="styles/index.css" rel="stylesheet">

		<link rel="shortcut icon" href="/favicon.ico?1591422288" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="180x180" href="/upload/CPriority/9e2/web-icon">
		<meta property="og:title" content="Черноголовка — производитель напитков, снеков и кондитерских изделий в России">
		<meta property="og:type" content="website">
		<meta property="og:image" content="https://chernogolovka.com/upload/CPriority/923/chgk-logo-color.png">
		<link rel="image_src" href="https://chernogolovka.com/upload/CPriority/923/chgk-logo-color.png">
		<meta property="og:url" content="/seller/">
	</head>

	<body id="pdf" style="overflow-x: auto;">
		<div id="panel"></div>
		<div>

			{% include "../components/header-pdf/header-pdf.twig" %}

			{% include "../components/pdf/pdf.twig" %}

		</div>
        <script src="scripts/vendor/jquery-2.1.3.min.js"></script>
        <script src="scripts/vendor/jquery.flexslider-min.js"></script>
		<script src="scripts/vendor/select2.min.js"></script>
		<script src="scripts/vendor/html2pdf.bundle.min.js"></script>
		<script>svg4everybody(); // run it now or whenever you are ready</script>
		<script src="scripts/vendor/html.min.js"></script>
        <script src="scripts/bundle.js"></script>
		<script>
			$(window).load(function(){
				var element = document.getElementById('pdf');
				var opt = {
					margin:       40,
					filename:     'pdf.pdf',
					image:        { type: 'jpeg', quality: 0.98 },
					html2canvas:  { scale: 2 },
					jsPDF:        { unit: 'px', format: [2480, 3760], orientation: 'portrait' }
				};
				//download pdf
				//html2pdf().set(opt).from(element).save(); 
				
			});
		</script>
	</body>
</html>
