<header class="header">
    <div class="header-wrap">
        <a href="/" class="header-logo">
            <img src="assets/img/logo.png" alt="Черноголовка — производитель напитков, снеков и кондитерских изделий в России" title="Черноголовка — производитель напитков, снеков и кондитерских изделий в России">
        </a>
        <a href="/" class="header-logo-mobile">
            <img src="assets/img/logo-mobile.png" alt="Черноголовка — производитель напитков, снеков и кондитерских изделий в России" title="Черноголовка — производитель напитков, снеков и кондитерских изделий в России">
        </a>
    </div>
</header>