<header class="header js-header mod-steaky">
    <div class="header-wrap">
        <div class="header-content">
            <a href="index.html" class="header-logo">
                <img src="assets/img/logo.png" alt="Черноголовка — производитель напитков, снеков и кондитерских изделий в России" title="Черноголовка — производитель напитков, снеков и кондитерских изделий в России">
            </a>
            <a href="index.html" class="header-logo-mobile">
                <img src="assets/img/logo-mobile.png" alt="Черноголовка — производитель напитков, снеков и кондитерских изделий в России" title="Черноголовка — производитель напитков, снеков и кондитерских изделий в России">
            </a>
            <div class="header-menu">
                <ul class="header-menu-list">
                    <li class="header-menu-item">
                        <a href="#cat-1" class="header-menu-item__link js-category-link active">
                            <div class="header-menu-item__icon">
                                <svg class="icon-lemonade">
                                    <use xlink:href="icons/all.svg#icon-lemonade"></use>
                                </svg>
                            </div>
                            <div class="header-menu-item__text">
                                Лимонады
                            </div>
                        </a>
                    </li>
                    <li class="header-menu-item">
                        <a href="#cat-2" class="header-menu-item__link js-category-link">
                            <div class="header-menu-item__icon">
                                <svg class="icon-water">
                                    <use xlink:href="icons/all.svg#icon-water"></use>
                                </svg>
                            </div>
                            <div class="header-menu-item__text">
                                Вода
                            </div>
                        </a>
                    </li>
                    <li class="header-menu-item">
                        <a href="#cat-3" class="header-menu-item__link js-category-link">
                            <div class="header-menu-item__icon">
                                <svg class="icon-baby-water">
                                    <use xlink:href="icons/all.svg#icon-baby-water"></use>
                                </svg>
                            </div>
                            <div class="header-menu-item__text">
                                Детская вода
                            </div>
                        </a>
                    </li>
                    <li class="header-menu-item">
                        <a href="#cat-4" class="header-menu-item__link js-category-link">
                            <div class="header-menu-item__icon">
                                <svg class="icon-energy-drink">
                                    <use xlink:href="icons/all.svg#icon-energy-drink"></use>
                                </svg>
                            </div>
                            <div class="header-menu-item__text">
                                Энергетики
                            </div>
                        </a>
                    </li>
                </ul>
            
            </div>
            <div class="header-filters">
                <div class="header-filters-row">
                    <a href="/" class="header-filters-burger js-filter-menu">
                        <svg class="icon-menu">
                            <use xlink:href="icons/all.svg#icon-menu"></use>
                        </svg>
                    </a>
                </div>
                <div class="header-filters-row">
                    <a href="/" class="header-filters-btn">Pdf</a>
                </div>

            </div>
        </div>
    </div>
</header>