.header {
    &.mod-steaky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: white;
        z-index: 900;
        .header-wrap {
            @media screen and (min-width: 768px) {
                padding: 50px 48px 20px;
            }

        }
    }
    &-wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px 16px 5px;

        @media screen and (min-width: 768px) {
            padding: 50px 48px;
            max-width: 1440px;
            margin: 0 auto;
        }
    }
    &-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        @media screen and (min-width: 768px) {
            flex-wrap: nowrap;
        }
    }
    &-logo {
        display: none;
        
        @media screen and (min-width: 768px) {
            display: block;
        }

        img {
            display: block;
        }
        &-mobile {
            display: block;
            order: 1;

            @media screen and (min-width: 768px) {
                display: none;
            }

            img {
                display: block;
            }
        }
    }
    &-menu {
        overflow: hidden;
        width: 100%;
        order: 3;
        height: 102px;
        @media screen and (min-width: 768px) {
            order: 2;
            height: 127px;
        }
        &-list {
            display: flex;
            box-sizing: content-box;
            height: 100%;
            padding-bottom: 17px;
            overflow-x: scroll;
            overflow-y: hidden;
            @media screen and (min-width: 768px) {
                justify-content: center;
                padding: 0 20px 17px;
            }

        }
        &-item {
            width: calc(25% - 9px);
            max-width: 130px;
            min-width: 60px;
            @media screen and (min-width: 768px) {
                width: 148px;
                max-width: none;
            }
            &:not(:last-child) {
                margin-right: 12px;
                @media screen and (min-width: 768px) {
                    margin-right: 6px;
                }
            }
            &__link {
                flex: 0 0 auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                text-decoration: none;
                width: 100%;
                padding: 20px 0;
                margin: 0;
                @media screen and (min-width: 768px) {
                    padding: 22px;
                }
                &:hover {
                    .header-menu-item__icon {
                        svg {
                            fill: #30a657;
                        }
                    }
                    .header-menu-item__text {
                        color: #30a657;
                    }
                }
                &.active {
                    .header-menu-item__icon {
                        svg {
                            fill: #30a657;
                        }
                    }
                    .header-menu-item__text {
                        color: #30a657;
                    }

                }
            }
            &__icon {
                margin-bottom: 10px;
                height: 40px;
                @media screen and (min-width: 768px) {
                    margin-bottom: 15px;
                    height: 50px;
                }
                svg {
                    fill: #333;
                    transition: all .2s ease;
                }

            }
            &__text {
                font-size: 10px;
                line-height: 12px;
                text-align: center;
                color: #333;
                transition: all .2s ease;
                @media screen and (min-width: 768px) {
                    font-size: 15px;
                    line-height: 18px;
                }
            }
        }
    }
    &-filters {
        order: 2;
        @media screen and (min-width: 768px) {
            order: 3;
        }
        &-row {
            display: flex;
            justify-content: flex-end;
            &:not(:last-child) {
                margin-bottom: 10px;
                @media screen and (min-width: 768px) {
                    margin-bottom: 20px;
                }
            }
        }
        &-burder {

        }
        &-btn {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 6px 25px;
            background: #30a657;
            border-radius: 3px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
            text-decoration: none;
            color: white;
            margin: 0;
            transition: all .2s ease;
            @media screen and (min-width: 768px) {
                padding: 13px 30px;
            }
            &:hover {
                background-color: #39c668;
            }
        }
        &-burger {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 10px;
            background: #30a657;
            border-radius: 3px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
            text-decoration: none;
            color: white;
            margin: 0;
            transition: all .2s ease;
            @media screen and (min-width: 768px) {
                padding: 18px 17px;
            }
            &:hover {
                background-color: #39c668;
            }
        }
    }
}