<div class="promos">
    <div class="promos-wrap">
        <div class="promos-top">
            <div class="promos-title">
                <h1>Акции</h1>
            </div>
            <form action="" class="form">
                <div class="form-row">
                    <label class="form-select js-select">
                        <select name="category" class="inputselect">
                            <option value="0" selected >Все категории продукта</option>
                            <option value="1">Категория 1</option>
                            <option value="2">Категория 2</option>
                            <option value="3">Категория 3</option>
                            <option value="4">Категория 4</option>
                        </select>
                        <span class="arrow"></span>
                    </label>
                
                </div>
                <div class="form-row">
                    <label class="form-select js-select">
                        <select name="sku" class="inputselect">
                            <option value="0" selected >SKU</option>
                            <option value="1">Группа 1</option>
                            <option value="2">Группа 2</option>
                            <option value="3">Группа 3</option>
                        </select>
                        <span class="arrow"></span>
                    </label>
                    <label class="form-select js-select">
                        <select name="brand" class="inputselect">
                            <option value="0" selected >Все бренды</option>
                            <option value="1">Черноголовка</option>
                            <option value="2">Байкал 1977</option>
                            <option value="3">Fantola</option>
                        </select>
                        <span class="arrow"></span>
                    </label>
                </div>
                <div class="form-row">
                    <label class="form-clear">
                        <div class="form-clear__icon">
                            <svg class="icon-close">
                                <use xlink:href="icons/all.svg#icon-close"></use>
                            </svg>
                        </div>
                        <button class="form-clear__btn js-clear-filter">Сбросить фильтр</button>
                    </label>
                </div>
            </form>
        </div>

        <div class="promos-list">
            <div class="promos-list-item">
                <div class="promos-list-item__title">
                    Название данной акции
                </div>
                <div class="promos-list-item-sub">
                    <span class="promos-list-item-sub__name">Срок проведения:</span>
                    <span class="promos-list-item-sub__date">20.02.21 - 25.02.21г</span>
                    
                </div>
                <div class="promos-list-item__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur.
                </div>

            </div>
            <div class="promos-list-item">
                <div class="promos-list-item__title">
                    Название данной акции
                </div>
                <div class="promos-list-item-sub">
                    <span class="promos-list-item-sub__name">Срок проведения:</span>
                    <span class="promos-list-item-sub__date">20.02.21 - 25.02.21г</span>
                    
                </div>
                <div class="promos-list-item__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur.
                </div>

            </div>
            <div class="promos-list-item">
                <div class="promos-list-item__title">
                    Название данной акции
                </div>
                <div class="promos-list-item-sub">
                    <span class="promos-list-item-sub__name">Срок проведения:</span>
                    <span class="promos-list-item-sub__date">20.02.21 - 25.02.21г</span>
                    
                </div>
                <div class="promos-list-item__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur.
                </div>

            </div>
            <div class="promos-list-item">
                <div class="promos-list-item__title">
                    Название данной акции
                </div>
                <div class="promos-list-item-sub">
                    <span class="promos-list-item-sub__name">Срок проведения:</span>
                    <span class="promos-list-item-sub__date">20.02.21 - 25.02.21г</span>
                    
                </div>
                <div class="promos-list-item__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur.
                </div>

            </div>
            <div class="promos-list-item">
                <div class="promos-list-item__title">
                    Название данной акции
                </div>
                <div class="promos-list-item-sub">
                    <span class="promos-list-item-sub__name">Срок проведения:</span>
                    <span class="promos-list-item-sub__date">20.02.21 - 25.02.21г</span>
                    
                </div>
                <div class="promos-list-item__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur.
                </div>

            </div>
        
        </div>
        
    </div>
</div>