<footer class="footer">
    <div class="footer-wrap">
        <ul class="footer-menu">
            <li class="footer-menu-item">
                <a href="/" class="footer-menu-link">
                    Главная
                </a>
            </li>
            <li class="footer-menu-item">
                <a href="/" class="footer-menu-link">
                    Каталог
                </a>
            </li>
            <li class="footer-menu-item">
                <a href="category.html" class="footer-menu-link">
                    Каталог категорий
                </a>
            </li>
            <li class="footer-menu-item">
                <a href="equipment.html" class="footer-menu-link">
                    Каталог оборудования
                </a>
            </li>
            <li class="footer-menu-item">
                <a href="promos.html" class="footer-menu-link">
                    Акции
                </a>
            </li>
        </ul>
        <div class="footer-bottom">
            <div class="footer-copyright">
                @ 1998-2020
            </div>
        </div>
    </div>
</footer>